# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Vue
/dist

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
.DS_Store
Thumbs.db